transformers>=4.30.0
datasets
huggingface_hub
pandas
numpy
plyfile
tqdm
requests
nltk
evaluate
pycocoevalcap
scipy
scikit-learn
matplotlib
Pillow
plotly
seaborn
trimesh
open3d
accelerate
torchvision
ipython
jupyter
# bert-score
bert_score
sacrebleu
